@charset "UTF-8";

/* 文字サイズを設定 */
html {
  font-size: 100%;
}
/* 背景色、文字色、文字サイズを設定 */
body {
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.875rem;
}
/* 最大幅を設定 */
img {
  max-width: 100%;
}
/* サイト全体のコンテンツ幅を設定 */
/* 最大幅、外側余白を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}
/* 内部コンテンツ部分の最大幅を設定 */
/* 最大幅、外側余白を設定 */
.inner {
  max-width: 600px;
  margin: 0 auto;
}
/* 文字サイズ、文字の太さ、外側下部余白を設定 */
.section-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 
ヘッダー部
*/

/* 外側上部余白を設定 */
#header {
  margin-top: 60px;
}
/* 幅、行間、外側下部余白を設定  */
#header .site-title {
  width: 160px;
  line-height: 0;
  margin-bottom: 15px;
}
/* 要素表示方法を設定 */
#header .site-title a {
  display: block;
}

/* 
mainVisual
*/

/* 外側下部余白を設定 */
#mainVisual {
  margin-bottom: 60px;
}

/* 
Index
*/

/* 背景色、内側余白、外側下部余白を設定 */
#index {
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 60px ;
}
/* 外側左部余白を設定 */
#index .index-list {
  margin-left: 20px;
}
/* 外側下部余白を設定 */
#index .index-list li {
  margin-bottom: 20px;
}
/* 外側下部余白を設定 */
/* last-child:要素の最後のみに適用 */
#index .index-list li:last-child {
  margin-bottom: 0;
}

/* 
Detail
*/

/* 外側下部余白を設定 */
#detail {
  margin-bottom: 100px;
}
/* 要素表示方法、交差軸方向の要素配列を設定 */
#detail .content {
  display: flex;
  align-items: flex-start;
}
/* 文字サイズ、文字の太さを設定 */
#detail .content .title {
  font-size: 1.125rem;
  font-weight: bold;
}
/* 幅、外側左部余白を設定 */
#detail .content .img {
  width: 270px;
  margin-right: 60px;
}
/* 外側下部余白を設定 */
#detail .content .text p {
  margin-bottom: 20px;
}
/* 要素表示方法、flexItemの折り返しの有無、内側余白、外側下部余白、要素上部線、要素下部線を設定 */
/* wrap:折り返しあり */
#detail .content dl {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;
  margin-bottom: 25px;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
}
/* 幅を設定 */
#detail .content dt {
  width: 25%;
}
/* 幅を設定 */
#detail .content dd {
  width: 75%;
}
/* 文字色を設定 */
#detail .content .link {
  color: #333;
}
/* 文字の不透明度を設定 */
#detail .content .link:hover {
  opacity: 0.8;
}

/* 
footer
*/

/* 文字サイズ、内側余白を設定 */
#footer {
  font-size: 0.625rem;
  padding: 15px;
  text-align: center;
}

/* 
SPモード時
*/
@media screen and (max-width: 1024px) {
  /* 内側余白を設定 */
  .inner {
    padding: 0 40px;
  }
  /* header部 */
  /* 内側余白を設定 */
  #header {
    padding: 0 10px;
  }
  /* mainVisual */
  /* 内側余白を設定 */
  #mainVisual {
    padding: 0 10px;
  }
  /* detail */
  /* 要素配置方向を設定 */
  #detail .content {
    flex-direction: column;
  }
  /* 幅、外側余白を設定 */
  #detail .content .img {
    width: 100%;
    margin: 0 0 25px 0;
  }
}